div.container
    h1#log(style="padding-bottom: 1rem;") 依頼履歴
    ul.list-group
        for req in requests
            case req.status
                when 0: li.list-group-item #{req.equipment}
                when 1: li.list-group-item #{req.equipment}
                when 2: li.list-group-item.list-group-item-info #{req.equipment}
                when 3: li.list-group-item.list-group-item-success #{req.equipment}
                when 4: li.list-group-item.list-group-item-danger #{req.equipment}